.flag-right {
 display: flex;
 justify-content: flex-end;
}

.flag-right {
  display: flex;
  justify-content: flex-start;
  transform: translate(45%, -45%); /* Move it down and to the right */
 }

 .left-right {
display: flex;
flex-direction: row;

 }

 
 .arrow-left {

   transform: translate(50px, 0px);
   
}
.arrow-right {
  transform: translate(11px, -10px);

}